-- MySQL dump 10.13  Distrib 8.0.23, for Win64 (x86_64)
--
-- Host: localhost    Database: etsy
-- ------------------------------------------------------
-- Server version	8.0.23

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary view structure for view `cat`
--

DROP TABLE IF EXISTS `cat`;
/*!50001 DROP VIEW IF EXISTS `cat`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `cat` AS SELECT 
 1 AS `product_name`,
 1 AS `category`,
 1 AS `catalog`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `catalogs`
--

DROP TABLE IF EXISTS `catalogs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `catalogs` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catalogs`
--

LOCK TABLES `catalogs` WRITE;
/*!40000 ALTER TABLE `catalogs` DISABLE KEYS */;
/*!40000 ALTER TABLE `catalogs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `catalog_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `categories_catalogs_id_fk` (`catalog_id`),
  CONSTRAINT `categories_catalogs_id_fk` FOREIGN KEY (`catalog_id`) REFERENCES `catalogs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cities` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `country_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `cities_country_id_fk` (`country_id`),
  CONSTRAINT `cities_country_id_fk` FOREIGN KEY (`country_id`) REFERENCES `countries` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cities`
--

LOCK TABLES `cities` WRITE;
/*!40000 ALTER TABLE `cities` DISABLE KEYS */;
/*!40000 ALTER TABLE `cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `countries`
--

DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `countries` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `countries`
--

LOCK TABLES `countries` WRITE;
/*!40000 ALTER TABLE `countries` DISABLE KEYS */;
/*!40000 ALTER TABLE `countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items`
--

DROP TABLE IF EXISTS `items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `items` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shop_id` int unsigned NOT NULL,
  `price` int unsigned NOT NULL,
  `description` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shipping` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `subcategory_id` int unsigned DEFAULT NULL,
  `item_status` enum('active','draft','inactive','sold') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  KEY `items_subcategory_id_fk` (`subcategory_id`),
  KEY `items_shop_id_fk` (`shop_id`),
  CONSTRAINT `items_shop_id_fk` FOREIGN KEY (`shop_id`) REFERENCES `shops` (`id`) ON DELETE CASCADE,
  CONSTRAINT `items_subcategory_id_fk` FOREIGN KEY (`subcategory_id`) REFERENCES `subcategories` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items`
--

LOCK TABLES `items` WRITE;
/*!40000 ALTER TABLE `items` DISABLE KEYS */;
/*!40000 ALTER TABLE `items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `likes`
--

DROP TABLE IF EXISTS `likes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `likes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `target_id` int unsigned NOT NULL,
  `target_table_type_id` int unsigned NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `likes_user_id_fk` (`user_id`),
  KEY `likes_target_table_type_id_fk` (`target_table_type_id`),
  CONSTRAINT `likes_target_table_type_id_fk` FOREIGN KEY (`target_table_type_id`) REFERENCES `table_types` (`id`) ON DELETE CASCADE,
  CONSTRAINT `likes_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `likes`
--

LOCK TABLES `likes` WRITE;
/*!40000 ALTER TABLE `likes` DISABLE KEYS */;
/*!40000 ALTER TABLE `likes` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `likes_validation` BEFORE INSERT ON `likes` FOR EACH ROW BEGIN

  IF NOT is_row_exists(NEW.target_id, NEW.target_table_type_id) THEN

    SIGNAL SQLSTATE "45000"

    SET MESSAGE_TEXT = "Error adding like! Target table doesn't contain row id provided!";

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary view structure for view `major_users`
--

DROP TABLE IF EXISTS `major_users`;
/*!50001 DROP VIEW IF EXISTS `major_users`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `major_users` AS SELECT 
 1 AS `id`,
 1 AS `user_name`,
 1 AS `number_of_orders`,
 1 AS `total_spent`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `media`
--

DROP TABLE IF EXISTS `media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `media` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я, тХитХСтХитХЫтХд╨ТтХитХЫтХд╨РтХд╨ЫтХитХг тХитХЦтХитЦСтХитФВтХд╨РтХд╨УтХитХЦтХитХХтХитХЧ тХд╨ФтХитЦСтХитХгтХитХЧ',
  `filename` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨птХд╨УтХд╨ТтХд╨Ь тХитХС тХд╨ФтХитЦСтХитХгтХитХЧтХд╨У',
  `size` int NOT NULL COMMENT 'тХи╨░тХитЦСтХитХЦтХитХЭтХитХбтХд╨Р тХд╨ФтХитЦСтХитХгтХитХЧтХитЦС',
  `metadata` json DEFAULT NULL,
  `media_type_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХд╨ТтХитХХтХитФР тХитХСтХитХЫтХитХЬтХд╨ТтХитХбтХитХЬтХд╨ТтХитЦС',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  KEY `media_type_id_fk` (`media_type_id`),
  KEY `media_user_id_fk` (`user_id`),
  CONSTRAINT `media_type_id_fk` FOREIGN KEY (`media_type_id`) REFERENCES `media_types` (`id`) ON DELETE CASCADE,
  CONSTRAINT `media_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `media_chk_1` CHECK (json_valid(`metadata`))
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨мтХитХбтХитФдтХитХХтХитЦСтХд╨ФтХитЦСтХитХгтХитХЧтХд╨Ы';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media`
--

LOCK TABLES `media` WRITE;
/*!40000 ALTER TABLE `media` DISABLE KEYS */;
/*!40000 ALTER TABLE `media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media_types`
--

DROP TABLE IF EXISTS `media_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `media_types` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨нтХитЦСтХитХЦтХитЦУтХитЦСтХитХЬтХитХХтХитХб тХд╨ТтХитХХтХитФРтХитЦС',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨▓тХитХХтХитФРтХд╨Ы тХитХЭтХитХбтХитФдтХитХХтХитЦСтХд╨ФтХитЦСтХитХгтХитХЧтХитХЫтХитЦУ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media_types`
--

LOCK TABLES `media_types` WRITE;
/*!40000 ALTER TABLE `media_types` DISABLE KEYS */;
INSERT INTO `media_types` VALUES (1,'document','2005-04-12 00:00:00','1979-08-20 00:00:00'),(2,'video','2001-12-29 00:00:00','1989-04-21 00:00:00'),(3,'image','2011-08-22 00:00:00','1976-07-02 00:00:00');
/*!40000 ALTER TABLE `media_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `from_target_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитХЫтХд╨ТтХитФРтХд╨РтХитЦСтХитЦУтХитХХтХд╨ТтХитХбтХитХЧтХд╨Я тХд╨СтХитХЫтХитХЫтХитЦТтХд╨ЩтХитХбтХитХЬтХитХХтХд╨Я',
  `to_target_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨УтХд╨ЧтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я тХд╨СтХитХЫтХитХЫтХитЦТтХд╨ЩтХитХбтХитХЬтХитХХтХд╨Я',
  `from_target_type_id` int unsigned NOT NULL,
  `to_target_type_id` int unsigned NOT NULL,
  `body` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨▓тХитХбтХитХСтХд╨СтХд╨Т тХд╨СтХитХЫтХитХЫтХитЦТтХд╨ЩтХитХбтХитХЬтХитХХтХд╨Я',
  `is_important` tinyint(1) DEFAULT NULL COMMENT 'тХи╨птХд╨РтХитХХтХитХЦтХитХЬтХитЦСтХитХС тХитЦУтХитЦСтХитХвтХитХЬтХитХЫтХд╨СтХд╨ТтХитХХ',
  `is_delivered` tinyint(1) DEFAULT NULL COMMENT 'тХи╨птХд╨РтХитХХтХитХЦтХитХЬтХитЦСтХитХС тХитФдтХитХЫтХд╨СтХд╨ТтХитЦСтХитЦУтХитХСтХитХХ',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  KEY `messages_from_target_type_id_fk` (`from_target_type_id`),
  KEY `messages_to_target_type_id_fk` (`to_target_type_id`),
  CONSTRAINT `messages_from_target_type_id_fk` FOREIGN KEY (`from_target_type_id`) REFERENCES `table_types` (`id`) ON DELETE CASCADE,
  CONSTRAINT `messages_to_target_type_id_fk` FOREIGN KEY (`to_target_type_id`) REFERENCES `table_types` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨▒тХитХЫтХитХЫтХитЦТтХд╨ЩтХитХбтХитХЬтХитХХтХд╨Я';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `messages_validation` BEFORE INSERT ON `messages` FOR EACH ROW BEGIN

  IF NOT is_row_exists(NEW.from_target_id, NEW.from_target_type_id) THEN

    SIGNAL SQLSTATE "45001"

    SET MESSAGE_TEXT = "Error adding message! Target table doesn't contain row id provided!";

  END IF;

  IF NOT is_row_exists(NEW.to_target_id, NEW.to_target_type_id) THEN

    SIGNAL SQLSTATE "45001"

    SET MESSAGE_TEXT = "Error adding message! Target table doesn't contain row id provided!";

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `item_id` int unsigned NOT NULL,
  `order_status` enum('awaiting payment','paid','canceled') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `shipping_status` enum('pending','shipped','delivered') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  KEY `orders_user_id_fk` (`user_id`),
  KEY `orders_item_id_fk` (`item_id`),
  CONSTRAINT `orders_item_id_fk` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `orders_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profiles`
--

DROP TABLE IF EXISTS `profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profiles` (
  `user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я',
  `birthday` date DEFAULT NULL COMMENT 'тХи╨дтХитЦСтХд╨ТтХитЦС тХд╨РтХитХЫтХитХвтХитФдтХитХбтХитХЬтХитХХтХд╨Я',
  `description` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city_id` int unsigned DEFAULT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФВтХитХЫтХд╨РтХитХЫтХитФд тХитФРтХд╨РтХитХЫтХитХвтХитХХтХитЦУтХитЦСтХитХЬтХитХХтХд╨Я',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `sex` enum('M','F') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  KEY `profiles_city_id_fk` (`city_id`),
  CONSTRAINT `profiles_city_id_fk` FOREIGN KEY (`city_id`) REFERENCES `cities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `profiles_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨птХд╨РтХитХЫтХд╨ФтХитХХтХитХЧтХитХХ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profiles`
--

LOCK TABLES `profiles` WRITE;
/*!40000 ALTER TABLE `profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shops`
--

DROP TABLE IF EXISTS `shops`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shops` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨РтХитХЫтХитХСтХитХХ',
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨нтХитЦСтХитХЦтХитЦУтХитЦСтХитХЬтХитХХтХитХб тХитХЭтХитЦСтХитФВтХитЦСтХитХЦтХитХХтХитХЬтХитЦС',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨мтХитЦСтХитФВтХитЦСтХитХЦтХитХХтХитХЬтХд╨Ы';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shops`
--

LOCK TABLES `shops` WRITE;
/*!40000 ALTER TABLE `shops` DISABLE KEYS */;
/*!40000 ALTER TABLE `shops` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shops_users`
--

DROP TABLE IF EXISTS `shops_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shops_users` (
  `shop_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФВтХд╨РтХд╨УтХитФРтХитФРтХд╨У',
  `user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`shop_id`,`user_id`) COMMENT 'тХи╨▒тХитХЫтХд╨СтХд╨ТтХитЦСтХитЦУтХитХЬтХитХЫтХитХг тХитФРтХитХбтХд╨РтХитЦУтХитХХтХд╨ЧтХитХЬтХд╨ЫтХитХг тХитХСтХитХЧтХд╨ЮтХд╨Ч',
  KEY `shops_users_user_id_fk` (`user_id`),
  CONSTRAINT `shops_users_shop_id_fk` FOREIGN KEY (`shop_id`) REFERENCES `shops` (`id`) ON DELETE CASCADE,
  CONSTRAINT `shops_users_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨│тХд╨ЧтХитЦСтХд╨СтХд╨ТтХитХЬтХитХХтХитХСтХитХХ тХитХЭтХитЦСтХитФВтХитЦСтХитХЦтХитХХтХитХЬтХитХЫтХитЦУ, тХд╨СтХитЦУтХд╨ЯтХитХЦтХд╨Ь тХитХЭтХитХбтХитХвтХитФдтХд╨У тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨ЯтХитХЭтХитХХ тХитХХ тХитХЭтХитЦСтХитФВтХитЦСтХитХЦтХитХХтХитХЬтХитЦСтХитХЭтХитХХ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shops_users`
--

LOCK TABLES `shops_users` WRITE;
/*!40000 ALTER TABLE `shops_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `shops_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subcategories`
--

DROP TABLE IF EXISTS `subcategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subcategories` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `category_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `subcategory_category_id_fk` (`category_id`),
  CONSTRAINT `subcategory_category_id_fk` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subcategories`
--

LOCK TABLES `subcategories` WRITE;
/*!40000 ALTER TABLE `subcategories` DISABLE KEYS */;
/*!40000 ALTER TABLE `subcategories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `table_types`
--

DROP TABLE IF EXISTS `table_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `table_types` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `table_types`
--

LOCK TABLES `table_types` WRITE;
/*!40000 ALTER TABLE `table_types` DISABLE KEYS */;
INSERT INTO `table_types` VALUES (1,'items','2016-11-30 16:44:23'),(2,'users','2014-06-17 18:12:23'),(3,'messages','2012-10-22 22:41:16'),(4,'shops','2013-04-26 07:46:41'),(5,'media','2019-02-07 14:21:56');
/*!40000 ALTER TABLE `table_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `first_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨итХитХЭтХд╨Я тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я',
  `last_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨┤тХитЦСтХитХЭтХитХХтХитХЧтХитХХтХд╨Я тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я',
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨птХитХЫтХд╨ЧтХд╨ТтХитЦС',
  `phone` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨▓тХитХбтХитХЧтХитХбтХд╨ФтХитХЫтХитХЬ',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `phone` (`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨птХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХитХХ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `cat`
--

/*!50001 DROP VIEW IF EXISTS `cat`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `cat` AS select `items`.`name` AS `product_name`,`categories`.`name` AS `category`,`catalogs`.`name` AS `catalog` from (((`items` left join `subcategories` on((`items`.`subcategory_id` = `subcategories`.`id`))) left join `categories` on((`subcategories`.`category_id` = `categories`.`id`))) left join `catalogs` on((`categories`.`catalog_id` = `catalogs`.`id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `major_users`
--

/*!50001 DROP VIEW IF EXISTS `major_users`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `major_users` AS select distinct `users`.`id` AS `id`,concat_ws(' ',`users`.`first_name`,`users`.`last_name`) AS `user_name`,(select count(`orders`.`id`) from `orders` where (`orders`.`user_id` = `users`.`id`)) AS `number_of_orders`,(select sum(`items`.`price`) from (`orders` left join `items` on((`items`.`id` = `orders`.`item_id`))) where ((`items`.`id` = `orders`.`item_id`) and (`orders`.`user_id` = `users`.`id`))) AS `total_spent` from ((`orders` left join `users` on((`users`.`id` = `orders`.`user_id`))) join `items` on((`orders`.`item_id` = `items`.`id`))) where ((select count(`orders`.`id`) from `orders` where (`orders`.`user_id` = `users`.`id`)) > 1) order by `total_spent` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2021-06-01 21:00:35
