
lesson_4/lesson4_examples_win.txt
lesson_3/lesson3_examples_utf8.sql
lesson_3/lesson3_examples_win.txt
lesson_3/lesson3_my_version_utf8.sql
lesson_3/sample3
lesson_4/fulldb28-04-2021 12-54.sql
lesson_4/lesson4_examples_utf8.sql
lesson_4/lesson4_shmykovan.zip
lesson_4/webinar_92512642563_0.MP4
lesson_5/5.mp4
lesson_5/[5]ПЗ Видеоурок. Операторы, фильтрация, сортировка и ограничение. Агрегация данных .docx
lesson_5/[5]ПЗ Видеоурок. Операторы, фильтрация, сортировка и ограничение. Агрегация данных .docx
lesson_5/edit.html
lesson_5/[5]ПЗ Видеоурок. Операторы, фильтрация, сортировка и ограничение. Агрегация данных .docx
lesson_5/lesson_5_shmykovan_completed_tasks.sql
lesson_5/source03.zip
lesson_5/~$ок 3. Методичка.docx
lesson_5/[5]ПЗ Видеоурок. Операторы, фильтрация, сортировка и ограничение. Агрегация данных .docx
lesson_5/lesson_5_shmykovan_completed_tasks.sql
lesson_5/Урок 3. Методичка.docx
lesson_5/Урок 4. Методичка.docx
lesson_5/Струкутры для выполнения ДЗ win.txt
lesson_5/Струкутры для выполнения ДЗ utf8.sql
lesson_5/ИК Базы данных. Урок 4. Презентация..pptx
lesson_5/ИК Базы данных. Урок 3. Презентация..pptx
lesson_5/~$ок 4. Методичка.docx
lesson_5/source04.zip
lesson_5/[5]ПЗ Видеоурок. Операторы, фильтрация, сортировка и ограничение. Агрегация данных .docx
lesson_5/lesson_5_shmykovan_completed_tasks_in_progress.sql
*.docx
lesson_2/lesson_2_tasks.txt
*.txt
lesson_2/lesson_2_tasks.txt
lesson_2/lesson_2_tasks.txt
lesson_6/lesson6_examples_utf8.sql
lesson_6/fulldb06-05-2021 16-51.sql
lesson_6/webinar_97241799833_0.MP4
*.mp4
