-- MySQL dump 10.13  Distrib 8.0.23, for Win64 (x86_64)
--
-- Host: localhost    Database: vk4
-- ------------------------------------------------------
-- Server version	8.0.23

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cities` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `country_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cities`
--

LOCK TABLES `cities` WRITE;
/*!40000 ALTER TABLE `cities` DISABLE KEYS */;
/*!40000 ALTER TABLE `cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communities`
--

DROP TABLE IF EXISTS `communities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `communities` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨РтХитХЫтХитХСтХитХХ',
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨нтХитЦСтХитХЦтХитЦУтХитЦСтХитХЬтХитХХтХитХб тХитФВтХд╨РтХд╨УтХитФРтХитФРтХд╨Ы',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨гтХд╨РтХд╨УтХитФРтХитФРтХд╨Ы';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communities`
--

LOCK TABLES `communities` WRITE;
/*!40000 ALTER TABLE `communities` DISABLE KEYS */;
/*!40000 ALTER TABLE `communities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communities_users`
--

DROP TABLE IF EXISTS `communities_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `communities_users` (
  `community_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФВтХд╨РтХд╨УтХитФРтХитФРтХд╨У',
  `user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`community_id`,`user_id`) COMMENT 'тХи╨▒тХитХЫтХд╨СтХд╨ТтХитЦСтХитЦУтХитХЬтХитХЫтХитХг тХитФРтХитХбтХд╨РтХитЦУтХитХХтХд╨ЧтХитХЬтХд╨ЫтХитХг тХитХСтХитХЧтХд╨ЮтХд╨Ч'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨│тХд╨ЧтХитЦСтХд╨СтХд╨ТтХитХЬтХитХХтХитХСтХитХХ тХитФВтХд╨РтХд╨УтХитФРтХитФР, тХд╨СтХитЦУтХд╨ЯтХитХЦтХд╨Ь тХитХЭтХитХбтХитХвтХитФдтХд╨У тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨ЯтХитХЭтХитХХ тХитХХ тХитФВтХд╨РтХд╨УтХитФРтХитФРтХитЦСтХитХЭтХитХХ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communities_users`
--

LOCK TABLES `communities_users` WRITE;
/*!40000 ALTER TABLE `communities_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `communities_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `countries`
--

DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `countries` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `countries`
--

LOCK TABLES `countries` WRITE;
/*!40000 ALTER TABLE `countries` DISABLE KEYS */;
/*!40000 ALTER TABLE `countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friendship`
--

DROP TABLE IF EXISTS `friendship`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `friendship` (
  `user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитХХтХитХЬтХитХХтХд╨ЦтХитХХтХитЦСтХд╨ТтХитХЫтХд╨РтХитЦС тХитФдтХд╨РтХд╨УтХитХвтХитХбтХд╨СтХитХСтХитХХтХд╨Х тХитХЫтХд╨ТтХитХЬтХитХЫтХд╨ШтХитХбтХитХЬтХитХХтХитХг',
  `friend_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨УтХд╨ЧтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я тХитФРтХд╨РтХитХХтХитФВтХитХЧтХитЦСтХд╨ШтХитХбтХитХЬтХитХХтХд╨Я тХитФдтХд╨РтХд╨УтХитХвтХитХХтХд╨ТтХд╨Ь',
  `friendship_status_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХд╨СтХд╨ТтХитЦСтХд╨ТтХд╨УтХд╨С (тХд╨ТтХитХбтХитХСтХд╨УтХд╨ЩтХитХбтХитХб тХд╨СтХитХЫтХд╨СтХд╨ТтХитХЫтХд╨ЯтХитХЬтХитХХтХитХб) тХитХЫтХд╨ТтХитХЬтХитХЫтХд╨ШтХитХбтХитХЬтХитХХтХитХг',
  `confirmed_at` datetime DEFAULT NULL COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитФРтХитХЫтХитФдтХд╨ТтХитЦУтХитХбтХд╨РтХитХвтХитФдтХитХбтХитХЬтХитХХтХд╨Я тХитФРтХд╨РтХитХХтХитФВтХитХЧтХитЦСтХд╨ШтХитХбтХитХЬтХитХХтХд╨Я',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`user_id`,`friend_id`) COMMENT 'тХи╨▒тХитХЫтХд╨СтХд╨ТтХитЦСтХитЦУтХитХЬтХитХЫтХитХг тХитФРтХитХбтХд╨РтХитЦУтХитХХтХд╨ЧтХитХЬтХд╨ЫтХитХг тХитХСтХитХЧтХд╨ЮтХд╨Ч'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨▓тХитЦСтХитЦТтХитХЧтХитХХтХд╨ЦтХитЦС тХитФдтХд╨РтХд╨УтХитХвтХитЦТтХд╨Ы';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friendship`
--

LOCK TABLES `friendship` WRITE;
/*!40000 ALTER TABLE `friendship` DISABLE KEYS */;
/*!40000 ALTER TABLE `friendship` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friendship_statuses`
--

DROP TABLE IF EXISTS `friendship_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `friendship_statuses` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨нтХитЦСтХитХЦтХитЦУтХитЦСтХитХЬтХитХХтХитХб тХд╨СтХд╨ТтХитЦСтХд╨ТтХд╨УтХд╨СтХитЦС',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨▒тХд╨ТтХитЦСтХд╨ТтХд╨УтХд╨СтХд╨Ы тХитФдтХд╨РтХд╨УтХитХвтХитЦТтХд╨Ы';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friendship_statuses`
--

LOCK TABLES `friendship_statuses` WRITE;
/*!40000 ALTER TABLE `friendship_statuses` DISABLE KEYS */;
INSERT INTO `friendship_statuses` VALUES (1,'Requested','2021-05-01 21:50:19','2021-05-01 21:50:19'),(2,'Confirmed','2021-05-01 21:50:19','2021-05-01 21:50:19'),(3,'Rejected','2021-05-01 21:50:19','2021-05-01 21:50:19');
/*!40000 ALTER TABLE `friendship_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media`
--

DROP TABLE IF EXISTS `media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `media` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я, тХитХСтХитХЫтХд╨ТтХитХЫтХд╨РтХд╨ЫтХитХг тХитХЦтХитЦСтХитФВтХд╨РтХд╨УтХитХЦтХитХХтХитХЧ тХд╨ФтХитЦСтХитХгтХитХЧ',
  `filename` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨птХд╨УтХд╨ТтХд╨Ь тХитХС тХд╨ФтХитЦСтХитХгтХитХЧтХд╨У',
  `size` int NOT NULL COMMENT 'тХи╨░тХитЦСтХитХЦтХитХЭтХитХбтХд╨Р тХд╨ФтХитЦСтХитХгтХитХЧтХитЦС',
  `metadata` json DEFAULT NULL,
  `media_type_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХд╨ТтХитХХтХитФР тХитХСтХитХЫтХитХЬтХд╨ТтХитХбтХитХЬтХд╨ТтХитЦС',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `media_chk_1` CHECK (json_valid(`metadata`))
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨мтХитХбтХитФдтХитХХтХитЦСтХд╨ФтХитЦСтХитХгтХитХЧтХд╨Ы';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media`
--

LOCK TABLES `media` WRITE;
/*!40000 ALTER TABLE `media` DISABLE KEYS */;
/*!40000 ALTER TABLE `media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media_types`
--

DROP TABLE IF EXISTS `media_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `media_types` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨нтХитЦСтХитХЦтХитЦУтХитЦСтХитХЬтХитХХтХитХб тХд╨ТтХитХХтХитФРтХитЦС',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨▓тХитХХтХитФРтХд╨Ы тХитХЭтХитХбтХитФдтХитХХтХитЦСтХд╨ФтХитЦСтХитХгтХитХЧтХитХЫтХитЦУ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media_types`
--

LOCK TABLES `media_types` WRITE;
/*!40000 ALTER TABLE `media_types` DISABLE KEYS */;
INSERT INTO `media_types` VALUES (1,'VIDEO','2020-01-28 12:55:12','2021-05-01 19:39:04'),(2,'IMG','2013-10-10 18:06:29','2013-11-07 06:20:06'),(3,'TEXT','2013-02-26 07:04:41','2015-06-28 14:13:50'),(4,'MUSIC','2018-06-20 07:47:13','2021-05-01 19:39:04');
/*!40000 ALTER TABLE `media_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `from_user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитХЫтХд╨ТтХитФРтХд╨РтХитЦСтХитЦУтХитХХтХд╨ТтХитХбтХитХЧтХд╨Я тХд╨СтХитХЫтХитХЫтХитЦТтХд╨ЩтХитХбтХитХЬтХитХХтХд╨Я',
  `to_user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨УтХд╨ЧтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я тХд╨СтХитХЫтХитХЫтХитЦТтХд╨ЩтХитХбтХитХЬтХитХХтХд╨Я',
  `body` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨▓тХитХбтХитХСтХд╨СтХд╨Т тХд╨СтХитХЫтХитХЫтХитЦТтХд╨ЩтХитХбтХитХЬтХитХХтХд╨Я',
  `media_id` int unsigned DEFAULT NULL,
  `is_important` tinyint(1) DEFAULT NULL COMMENT 'тХи╨птХд╨РтХитХХтХитХЦтХитХЬтХитЦСтХитХС тХитЦУтХитЦСтХитХвтХитХЬтХитХЫтХд╨СтХд╨ТтХитХХ',
  `delivered_at` timestamp NULL DEFAULT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨▒тХитХЫтХитХЫтХитЦТтХд╨ЩтХитХбтХитХЬтХитХХтХд╨Я';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profiles`
--

DROP TABLE IF EXISTS `profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profiles` (
  `user_id` int unsigned NOT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я',
  `gender` char(1) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨птХитХЫтХитХЧ',
  `birthday` date DEFAULT NULL COMMENT 'тХи╨дтХитЦСтХд╨ТтХитЦС тХд╨РтХитХЫтХитХвтХитФдтХитХбтХитХЬтХитХХтХд╨Я',
  `city_id` int unsigned DEFAULT NULL COMMENT 'тХи╨▒тХд╨СтХд╨ЫтХитХЧтХитХСтХитЦС тХитХЬтХитЦС тХитФВтХитХЫтХд╨РтХитХЫтХитФд тХитФРтХд╨РтХитХЫтХитХвтХитХХтХитЦУтХитЦСтХитХЬтХитХХтХд╨Я',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨птХд╨РтХитХЫтХд╨ФтХитХХтХитХЧтХитХХ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profiles`
--

LOCK TABLES `profiles` WRITE;
/*!40000 ALTER TABLE `profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT COMMENT 'тХи╨итХитФдтХитХбтХитХЬтХд╨ТтХитХХтХд╨ФтХитХХтХитХСтХитЦСтХд╨ТтХитХЫтХд╨Р тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `first_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨итХитХЭтХд╨Я тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я',
  `last_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨┤тХитЦСтХитХЭтХитХХтХитХЧтХитХХтХд╨Я тХитФРтХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХд╨Я',
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨птХитХЫтХд╨ЧтХд╨ТтХитЦС',
  `phone` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'тХи╨▓тХитХбтХитХЧтХитХбтХд╨ФтХитХЫтХитХЬ',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХд╨СтХитХЫтХитХЦтХитФдтХитЦСтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'тХи╨втХд╨РтХитХбтХитХЭтХд╨Я тХитХЫтХитЦТтХитХЬтХитХЫтХитЦУтХитХЧтХитХбтХитХЬтХитХХтХд╨Я тХд╨СтХд╨ТтХд╨РтХитХЫтХитХСтХитХХ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `phone` (`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='тХи╨птХитХЫтХитХЧтХд╨ЬтХитХЦтХитХЫтХитЦУтХитЦСтХд╨ТтХитХбтХитХЧтХитХХ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2021-05-01 22:59:59
